<div>
    <h3><i class="fa-solid fa-table-cells-large"></i> Proyectos</h3>
    <span>Aplicaciónes web que he realizado</span>

    <div class="row mt-1 g-4">

         <!-- card 1 -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img src="https://github.com/Rubpri/app-tarjeta-credito/raw/main/tc1.png" class="card-img-top" alt="">
                <div class="card-body" >
                    <h5 class="card-title"><b style="color: black;">Tarjetas de Crédito</b></h5>
                    <div class="mt-2">
                        <span class="angular me-1">
                            <i class="fa-brands fa-angular"></i> 
                            Angular
                        </span>
                        <span class="bootstrap me-1">
                            <i class="fa-brands fa-bootstrap"></i> Bootstrap
                        </span>
                        <span class="bootstrap firebase">
                            <i class="fas fa-database"></i> 
                            Firebase
                        </span>
                    </div>
                    <p class="card-text text-black-card mt-2">Añade, lee, modifica y/o borra tarjetas de crédito a bbdd a través de un formulario.</p>
              
                    <div class="d-flex">
                        <a href="#" class="btn me-2 live mt-1">Live</a>
                        <a href="#" class="btn me-2 github mt-1">GitHub</a>
                        <a href="#" class="btn youtube mt-1">Youtube</a>
                    </div>
                </div>
            </div>
        </div>

 <!-- TARJETA 2 -->

        <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img src="https://github.com/Rubpri/FrontEnd-mentor-Calculator-App/raw/main/desktop1.jpg" class="card-img-top" alt="">
                    <div class="card-body" >
                        <h5 class="card-title"><b style="color: black;">Calculadora</b></h5>
                        <div class="mt-2">
                            <span class="angular me-1">
                                <i class="fa-brands fa-angular"></i> Angular
                            </span>
                            <span class="bootstrap me-1">
                                <i class="fa-brands fa-bootstrap"></i> Bootstrap
                            </span>
                        </div>
                        <p class="card-text text-black-card mt-2">Resuelve operaciones matemáticas de suma, resta, multiplicación y división.</p>
                  
                        <div class="d-flex">
                            <a href="#" class="btn me-2 live mt-1">Live</a>
                            <a href="#" class="btn me-2 github mt-1">GitHub</a>
                            <a href="#" class="btn youtube mt-1">Youtube</a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- TARJETA 3 -->

            <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="https://github.com/Rubpri/Frontend-Mentor-Age-Calculator-App/raw/main/desktop.jpg" class="card-img-top" alt="">
                        <div class="card-body" >
                            <h5 class="card-title"><b style="color: black;">Calculadora de Edad</b></h5>
                            <div class="mt-2">
                                <span class="angular me-1">
                                    <i class="fa-brands fa-angular"></i> Angular
                                </span>
                                <span class="bootstrap me-1">
                                    <i class="fa-brands fa-bootstrap"></i> Bootstrap
                                </span>
                            </div>
                            <p class="card-text text-black-card mt-2">Introduce tu fecha de nacimiento y calcula tu edad en años, meses y días.</p>
                      
                            <div class="d-flex">
                                <a href="#" class="btn me-2 live mt-1">Live</a>
                                <a href="#" class="btn me-2 github mt-1">GitHub</a>
                                <a href="#" class="btn youtube mt-1">Youtube</a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- TARJETA 3 -->

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img src="https://github.com/Rubpri/Frontend-Mentor-Age-Calculator-App/raw/main/desktop.jpg" class="card-img-top" alt="">
                    <div class="card-body" >
                        <h5 class="card-title"><b style="color: black;">Calculadora de Edad</b></h5>
                        <div class="mt-2">
                            <span class="angular me-1">
                                <i class="fa-brands fa-angular"></i> Angular
                            </span>
                            <span class="bootstrap me-1">
                                <i class="fa-brands fa-bootstrap"></i> Bootstrap
                            </span>
                        </div>
                        <p class="card-text text-black-card mt-2">Introduce tu fecha de nacimiento y calcula tu edad en años, meses y días.</p>
                  
                        <div class="d-flex">
                            <a href="#" class="btn me-2 live mt-1">Live</a>
                            <a href="#" class="btn me-2 github mt-1">GitHub</a>
                            <a href="#" class="btn youtube mt-1">Youtube</a>
                        </div>
                    </div>
                </div>
            </div>







    </div>
</div>

