<div>
    <h3><i class="fa-solid fa-table-cells-large"></i> Proyectos</h3>
    <span>Aplicaciónes web que he realizado</span>

    <div class="row mt-1 g-4" >

        <!-- card 1 -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img src="https://github.com/Rubpri/tennis-club/blob/main/clubdetenis.png?raw=true" class="card-img-top" alt="">
                <div class="card-body" >
                    <h5 class="card-title"><b style="color: black;">Club de Tenis · En construcción</b></h5>
                    <div class="mt-1">
                        <span class="angular me-1">
                            <i class="fa-brands fa-angular"></i>
                            Angular
                        </span>
                        <span class="bootstrap firebase me-1">
                            <i class="fas fa-database"></i> 
                            Firebase
                        </span>
                        <span class="bootstrap me-1">
                            <i class="fa-brands fa-bootstrap"></i> Bootstrap
                        </span>
                    </div>
                    <p class="card-text text-black-card mt-2">Web completa de un Club de Tenis.</p>
              
                    <div class="d-flex">
                        <a href="https://tennis-club-rubpri.vercel.app/" target="_blank" class="btn me-2 live mt-1">Visitar web</a>
                        <a href="https://github.com/Rubpri/tennis-club" target="_blank" class="btn me-2 github mt-1">GitHub</a>
                    </div>
                </div>
            </div>
        </div>



         <!-- card 1 -->
         <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img src="https://github.com/Rubpri/task-app/raw/main/task3.png" class="card-img-top" alt="">
                <div class="card-body" >
                    <h5 class="card-title"><b style="color: black;">Aplicación de Tareas</b></h5>
                    <div class="mt-1">
                        <span class="react me-1">
                            <i class="fa-brands fa-react"></i>
                            React
                        </span>
                        <span class="django me-1">
                            <img src="https://static.djangoproject.com/img/logos/django-logo-positive.svg" class="card-img-top django-logo" alt="Django Logo">
                            Django
                        </span>
                        <span class="bootstrap firebase">
                            <i class="fas fa-database"></i> 
                            MySQL
                        </span>
                        <span class="bootstrap me-1">
                            <i class="fa-brands fa-bootstrap"></i> Bootstrap
                        </span>
                    </div>
                    <p class="card-text text-black-card mt-2">Añade, lee, modifica y/o borra tareas almacenadas en una base de datos.</p>
              
                    <div class="d-flex">
                        <a href="https://task-app-frontend-react.vercel.app/" target="_blank" class="btn me-2 live mt-1">Visitar web</a>
                        <a href="https://github.com/Rubpri/task-app" target="_blank" class="btn me-2 github mt-1">GitHub</a>
                        <!-- <a href="#" class="btn youtube mt-1">Youtube</a> -->
                    </div>
                </div>
            </div>
        </div>


         <!-- card 1 -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img src="https://github.com/Rubpri/app-tarjeta-credito/raw/main/tc1.png" class="card-img-top" alt="">
                <div class="card-body" >
                    <h5 class="card-title"><b style="color: black;">Tarjetas de Crédito</b></h5>
                    <div class="mt-1">
                        <span class="angular me-1">
                            <i class="fa-brands fa-angular"></i> 
                            Angular
                        </span>
                        <span class="bootstrap me-1">
                            <i class="fa-brands fa-bootstrap"></i> Bootstrap
                        </span>
                        <span class="bootstrap firebase">
                            <i class="fas fa-database"></i> 
                            Firebase
                        </span>
                    </div>
                    <p class="card-text text-black-card mt-2">Añade, lee, modifica y/o borra tarjetas de crédito a base de datos a través de un formulario.</p>
              
                    <div class="d-flex">
                        <a href="https://app-tarjeta-credito.vercel.app/" target="_blank" class="btn me-2 live mt-1">Visitar web</a>
                        <a href="https://github.com/Rubpri/app-tarjeta-credito" target="_blank" class="btn me-2 github mt-1">GitHub</a>
                        
                    </div>
                </div>
            </div>
        </div>

         <!-- card 1 -->
         <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img src="https://github.com/Rubpri/budget-app-angular/raw/main/2.png" class="card-img-top" alt="">
                <div class="card-body" >
                    <h5 class="card-title"><b style="color: black;">Presupuesto</b></h5>
                    <div class="mt-1">
                        <span class="angular me-1">
                            <i class="fa-brands fa-angular"></i> 
                            Angular
                        </span>
                        <span class="bootstrap me-1">
                            <i class="fa-brands fa-bootstrap"></i> Bootstrap
                        </span>
                    </div>
                    <p class="card-text text-black-card mt-2">Ingresa un presupuesto inicial y añade gastos para su posterior lectura.</p>
              
                    <div class="d-flex">
                        <a href="https://budget-app-angular-omega.vercel.app/ingresarPresupuesto" target="_blank" class="btn me-2 live mt-1">Visitar web</a>
                        <a href="https://github.com/Rubpri/budget-app-angular" target="_blank" class="btn me-2 github mt-1">GitHub</a>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- card 1 -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img src="https://github.com/Rubpri/news-search-angular/raw/main/news2.png" class="card-img-top" alt="">
                <div class="card-body" >
                    <h5 class="card-title"><b style="color: black;">Búsqueda de Noticias</b></h5>
                    <div class="mt-1">
                        <span class="angular me-1">
                            <i class="fa-brands fa-angular"></i> 
                            Angular
                        </span>
                        <span class="bootstrap me-1">
                            <i class="fa-brands fa-bootstrap"></i> Bootstrap
                        </span>
                    </div>
                    <p class="card-text text-black-card mt-2">Selecciona un país y una categoría para recibr noticias de diferentes medios a través de una API.</p>
              
                    <div class="d-flex">
                        <a href="https://www.youtube.com/watch?v=REdZjF_TMBE" target="_blank" class="btn youtube mt-1 me-2">Ver en Youtube</a>
                        <a href="https://github.com/Rubpri/news-search-angular" target="_blank" class="btn me-2 github mt-1">GitHub</a>
                    </div>
                </div>
            </div>
        </div>

 <!-- card 2 -->

        <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img src="https://github.com/Rubpri/FrontEnd-mentor-Calculator-App/raw/main/desktop1.jpg" class="card-img-top" alt="">
                    <div class="card-body" >
                        <h5 class="card-title"><b style="color: black;">Calculadora</b></h5>
                        <div class="mt-1">
                            <span class="react me-1">
                                <i class="fa-brands fa-react"></i>
                                React
                            </span>
                        </div>
                        <p class="card-text text-black-card mt-2">Resuelve operaciones matemáticas de suma, resta, multiplicación y división.</p>
                  
                        <div class="d-flex">
                            <a href="https://front-end-mentor-calculator-app-three.vercel.app/" target="_blank" class="btn me-2 live mt-1">Visitar web</a>
                            <a href="https://github.com/Rubpri/FrontEnd-mentor-Calculator-App" target="_blank" class="btn me-2 github mt-1">GitHub</a>
                            
                        </div>
                    </div>
                </div>
            </div>


            <!-- TARJETA 3 -->

            <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="https://github.com/Rubpri/Frontend-Mentor-Age-Calculator-App/raw/main/desktop.jpg" class="card-img-top" alt="">
                        <div class="card-body" >
                            <h5 class="card-title"><b style="color: black;">Calculadora de Edad</b></h5>
                            <div class="mt-1">
                                <span class="react me-1">
                                    <i class="fa-brands fa-react"></i>
                                    React
                                </span>
                            </div>
                            <p class="card-text text-black-card mt-2">Introduce tu fecha de nacimiento y calcula tu edad en años, meses y días.</p>
                      
                            <div class="d-flex">
                                <a href="https://frontend-mentor-age-calculator-app-azure.vercel.app/" target="_blank" class="btn me-2 live mt-1">Visitar web</a>
                                <a href="https://github.com/Rubpri/Frontend-Mentor-Age-Calculator-App" target="_blank" class="btn me-2 github mt-1">GitHub</a>
                                
                            </div>
                        </div>
                    </div>
                </div>


                <!-- TARJETA 4 -->

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img src="https://github.com/Rubpri/Frontend-Mentor-Advice-Generator-App/raw/main/desktop.jpg" class="card-img-top" alt="">
                    <div class="card-body" >
                        <h5 class="card-title"><b style="color: black;">Generador de Consejos</b></h5>
                        <div class="mt-1">
                            <span class="react me-1">
                                <i class="fa-brands fa-react"></i>
                                React
                            </span>
                        </div>
                        <p class="card-text text-black-card mt-2">Generador de consejos aleatorios a través de una API.</p>
                  
                        <div class="d-flex">
                            <a href="https://frontend-mentor-advice-generator-app-eta.vercel.app/" target="_blank" class="btn me-2 live mt-1">Visitar web</a>
                            <a href="https://github.com/Rubpri/Frontend-Mentor-Advice-Generator-App" target="_blank" class="btn me-2 github mt-1">GitHub</a>
                            
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

